<h1>Bulk discount #<%= @discount.id %></h1>

<p>
  <strong>Quantity threshold:</strong> <%= @discount.quantity_threshold %>
</p>

<p>
  <strong>Discount percentage:</strong> <%= @discount.discount_percent %>
</p>
