<h1>Admin Dashboard Page</h1>
<br>
<%= link_to "Admin Merchants Index", "/admin/merchants"  %>
<br>
<%= link_to "Admin Invoices Index", "/admin/invoices" %>

<h2>Incomplete Invoices:</h2>

<div id="incomplete_invoices">
  <% @incomplete_invoices.each do |invoice| %>
      <p><%= link_to "#{invoice.id}", "admin/invoices/#{invoice.id}" %>
        Created at: <%= invoice.created_at.strftime("%A, %B %d, %Y") %>
      </p>
   <% end %>
</div>

<br>
