<h1>Admin Invoice Index Page</h1>

<h3>All invoices:</h3>

<% @customers.each do |customer| %>
  <h4>Customer Name: <%= customer.first_name %> <%= customer.last_name %></h4>
  <h5>Invoices:</h5>
  <% customer.invoices.each do |invoice| %>
    <ul>
      <li><%= link_to "#{invoice.id}", "/admin/invoices/#{invoice.id}" %></li>
    </ul>
  <% end %>
<% end %>
